@use '../../assets/sass' as *;

.cardh {
  display: inline-block;
  overflow: hidden;
  border: 1px solid rgba($pitch, .1);
  border-radius: .5rem;
  transition: all .3s ease;
  box-shadow: .5rem .5rem 1rem rgba($pitch, .035);
  background: $pure-white;
  padding: 1rem;
  
  width: calc((100% - 2 * 4.5rem) / 3);
  margin-right: 4.5rem;
  margin-bottom: 3.5rem;
  
  &:nth-child(3n) { margin-right: 0; }
  
  &:hover,
  &:focus {
    box-shadow: .5rem .5rem 1rem rgba($pitch, .1);
    transform: translateY(-.5rem);

    &__panel { background: $pure-white; }
  }

  &__figure {
    position: relative;
    width: 100%;
    height: 23rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem .5rem 0 0;
    overflow: hidden;
    // border-top: 1px solid rgba($color-orange-light, .35);
  }

  &__body {
    padding: 1.15rem 1.25rem;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__specs {
    font-size: 1.3rem;
    color: $grey-dark;
    font-weight: 400;

    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }
  }

  &__panel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: $pitch;
    border: 1px solid rgba($color-orange-light, .35);
    background: rgba($pure-white, .975);
    border-radius: 0 0 .1rem .1rem;
    border-top: none;

    svg { fill: $color-yellow-light; }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding: .5rem 1.25rem;
    // background: lighten($light, 2.5%);
  }

  &__price {
    border-radius: .25rem;
    padding: .75rem 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba($color-green, .5);
    background: darken($pure-white, 1%);
  }

  &:hover &__price,
  &:focus &__price {
    background: $color-green;

    & * {
      color: $pure-white !important;
    }
  }

  &__tooltip {
    left: 0;

    &::before {
      left: 10%;
    }
  }
}