$light: #f0f0f0;
$grey-dark: #585858;
$grey-light: #acacac;

$black: #3f3f3f;
$pitch: #363636;

$color-tertiary: #575fcf;
// $color-yellow: #ffbf49;
$color-yellow-light: #fcce01;
$color-yellow: #fcc101;
$color-orange: #4b7bec;
$color-red: #fc8477;
$color-orange-light: #f9a600;
$color-dark-blue: #4046a7;
$color-green: #20bf6b;

$white: #f1f1f1;
$pure-white: #fff;

$container: 114rem;

$tooltip: rgba($grey-dark, .95);