@use '../../assets/sass' as *;

.snav {
  background: $pure-white;
  position: sticky;
  top: 6.5rem;
  z-index: 99;
  border-bottom: 1px solid rgba($pitch, .05);

  &--top {
    top: 0;
  }
  
  &__list {
    height: 5rem;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
  }

  &__item {
    height: 100%;
    padding: 0 1.5rem;
    text-transform: capitalize;

    &:not(:last-child) { margin-right: 1.5rem; }
    &::after { top: calc(100% - .3rem) ; }
  }
}