@use '../../../assets/sass' as *;

.filters {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  left: 0;
  background: $pure-white;
  box-shadow: .5rem -1rem 1rem rgba($pitch, .03);
  transition: transform .3s ease;
  
  &--slide {
    transform: translateX(calc(-100% + 9rem));
  }
  
  &--slide &__icon { transform: rotate(180deg); }
  
  &__icon { transition: transform .25s ease-out; }

  &__scroller {
    width: 35rem !important;
    height: calc(100% - 1px) !important;
  }

  &__content {
    padding: 2rem 2.5rem;
    min-height: 250rem;
  }

  &__head {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba($pitch, .05);
  }

  // &--slide &__head { border-color: transparent; }

  &__section {

    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  &__list {
    position: relative;
    background: $pure-white;
    overflow: hidden;
    border: 1px solid rgba($pitch, .095);
    border-radius: .25rem;

    &--pop {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      animation: slideFromRight .35s ease;
      border: none;
    }

    &--row {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;
    }
  }

  &__btn-close {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: $light;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    background: lighten($light, 3%);
    width: 100%;
    padding: 1.45rem 2rem;
    font-size: 1.4rem;
    color: darken($black, 10%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
    position: relative;

    &__notif {
      display: inline-block;
      width: .5rem;
      height: .5rem;
      background: rgba($color-tertiary, .85);
      box-shadow: 0 0 .15rem rgba($color-tertiary, .25);
      border-radius: 50%;
    }
    
    &--active { border-color: rgba($color-tertiary, .2); }

    &
      :not(.filters__item-wrapper .filters__item)
      :not(.filters__item--xs)
      :not(:last-child) { margin-bottom: .75rem; }
    
    &--sm,
    &--xs { border-radius: .25rem; }

    &--xs {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: calc((100% - 4 * 1rem) / 5);
      height: 5rem;
      margin-bottom: 1rem;

      &:not(:nth-of-type(5n)) { margin-right: 1rem; }
    }
  }

  &__item-drop {
    padding: 1rem 1.5rem;
  }

  &__item-btn {
    position: absolute;
    background: $pure-white;
    top: 50%;
    transform: translateY(-50%);
    right: 1.45rem;
    z-index: 1;
    opacity: 0;
  }

  &__item-wrapper,
  &__item--sm {
    position: relative;
    width: calc(50% - .375rem);
    margin-bottom: .75rem;

    &:not(.filters__form):not(:nth-of-type(2n)) { margin-right: .75rem; }
  }

  &__item-wrapper:hover &__item-btn { opacity: 1; }
  &__item-wrapper &__item { height: 100%; }

  &__item-wrapper:hover &__item {
    background: $light;

    span { opacity: 0; }
  }

  &__form {
    padding: 2rem;
    border-radius: .25rem;
    background: lighten($light, 4.25%);
    border: 1px solid rgba($pitch, .095);
  }
  
  &__input {
    padding: 1.15rem 1.65rem;
    border: 1px solid rgba($pitch, .095);
    background: $pure-white;
    border-radius: .25rem;
    color: $black;
    font-size: 1.5rem;
    width: 100%;
    
    &:focus {
      background: $pure-white;
      border-color: rgba($color-tertiary, .55);
    }

    &--sm {
      width: calc(50% - .5rem);

      &:not(:nth-child(2n)) { margin-right: 1rem; }
    }
  }
}