@use '../../assets/sass' as *;

.listview {
  position: relative;
  background: lighten($light, 3%);
  border-bottom: 1px solid rgba($pitch, .075);

  &__content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &__container {
    transition: width .3s ease;
    padding: 2.5rem 3.5rem;
    width: calc(114rem - (35rem - (100vw - 114rem) / 2));

    &--expand { width: 100%; }
  }

  &__top {
    margin-bottom: 3rem;
    margin-top: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
  }

  &__list {
    min-height: 65rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    align-content: flex-start;
  }

  &__float {
    position: fixed;
    bottom: 3rem;
    right: 10rem;
    z-index: 99;
  }

  &__empty {
    height: 50rem;
    display: flex;
    justify-content: center;
    width: 100%;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 7.5%;
      font-size: 2.15rem;
      font-weight: 300;
      color: $grey-dark;
    }

    &__icon {
      margin-bottom: 2.5rem;
      width: 6.25rem;
      height: 6.25rem;
    }
    
    &__btn {
      background: $color-tertiary;
      box-shadow: 0 .25rem .5rem rgba($pitch, .2);
      color: #fff;

      &:first-child {
        background: #fff;
        color: $black;
      }

      &:last-child:hover,
      &:last-child:focus {
        background: darken($color-tertiary, 5%);
      }
    }
  }

  &__cur-region {
    font-size: 1.4rem;
    color: $grey-light;
    color: $grey-dark;
    margin-bottom: .75rem;
    font-size: 1.65rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    
    &:not(:last-of-type) { margin-bottom: .75rem; }
  }

  &__loader {
    margin-top: 10vh;
  }
}