@use '../../assets/sass/index.scss' as *;

.nav {  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: $pure-white;
  transition: transform .3s cubic-bezier(1,0,0,1);
  box-shadow: 0 0 .15rem rgba($black, .15);
  
  &--hide { transform: translateY(-100%); }
  &--active { transform: translateY(0); }
  &--none { display: none; }

  &--sticky {
    position: sticky;
    z-index: 9998;
  }
  
  &__content {
    color: $light;
    display: flex;
    height: 6.5rem;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 1.45rem;
    text-transform: uppercase;
    color: $grey-dark;
    font-weight: 500;
    padding: 0 1.25rem;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all .15s ease;

    &:hover,
    &:focus { border-color: $color-yellow; }
    
    &--drop {
      flex-direction: row-reverse;
      height: 100%;
    }

    &--user {
      padding: .9rem 3rem;
      background: $color-green;
      border-radius: .25rem;
      font-weight: 400;
      height: max-content;
      align-self: center;
      color: #fff;
      margin-left: 2rem;
      border: none;

      &:hover,
      &:focus {
        background: lighten($color-green, 2%);
      }
    }
  }

  &__badge {
    position: absolute;
    top: 1.25rem;
    z-index: 1;
    right: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.825rem;
    height: 1.825rem;
    font-size: 1rem;
    color: $pure-white;
    background: $color-green;
  }
}