@use '../index.scss' as *;

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &--white {
    border-color: rgba($pitch, .05);
    background: lighten($light, 5.5%);
  }
  
  & > *:not(:last-child) {
    margin-right: 1.5rem;
  }
  
  &__content {
    display: flex;
    padding: 0.75rem 3rem;
    background: lighten($light, 3.5%);
    border-radius: 3rem;
    width: max-content;
    border: 1px solid rgba($pitch, .025);
  }

  &__item {
    // font-weight: 300;
    display: flex;
    align-items: center;
    font-size: 1.35rem;
    text-underline-offset: .2rem;
    color: lighten($black, 35%);
    text-decoration-color: rgba($pitch, .015);

    // &--active {
    //   color: $grey-light;
    //   font-weight: 200;
    // }

    &:not(.breadcrumbs__item--active):hover,
    &:not(.breadcrumbs__item--active):focus {
      text-decoration: underline;
    }

    &:not(:last-child) { margin-right: 2.75rem; }
    
    &--active {
      
    }
  }
}
