@use '../index.scss' as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .25rem;
  font-size: 1.6rem;
  height: 4.25rem;

  &--outline {
    padding: 0 3.5rem;
    border: 2px solid rgba($pure-white, .9);
    color: $pure-white;
    font-weight: 500;

    &:hover,
    &:focus {
      background: $pure-white;
      color: $black;
    }
  }

  &--b-yellow {
    border-color: $color-yellow;
    color: $color-yellow;
  }

  &--cta {
    background: $color-tertiary;
    font-size: 1.525rem;
    color: $pure-white;
    font-weight: 600;
    padding: 1.25rem 3rem;
    transition: background .15s ease-in-out;
    
    &:hover,
    &:focus {
      background: darken($color-tertiary, 10%);
    }
  }
  
  &--light {
    background: $pure-white;
    border-radius: .25rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // box-shadow: 0 0 1rem rgba($pitch, .15);

    &:hover,
    &:focus { background: darken($pure-white, 5%); }
  }

  &--primary {
    font-weight: 600;
    border-radius: .25rem;
    background: $color-yellow-light;
    color: $black;
    padding: 0 4rem;
    transition: background .15s ease-in-out;

    &:hover,
    &:focus { background: darken($color-yellow-light, 2.5%); }
  }

  &--bg-tertiary {
    background: $color-tertiary;
    color: $pure-white;
  }

  &--green {
    background: $color-green;

    &:hover,
    &:focus {
      background: darken($color-green, 2%);
    }
  }

  &--white {
    display: flex;
    align-items: center;
    padding: 1.15rem 2.3rem;
    background: #fff;
    border-radius: .25rem;
    color: $black;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: 0 .25rem .5rem rgba($pitch, .05);
  }

  &--arrow {
    span {
      transition: all .3s ease;
    }

    svg {
      width: 0;
      transition: all .3s ease;
    }

    &:hover svg,
    &:focus svg {
      width: 3rem;
    }
  }

  &--sub {
    padding: .5rem 2rem;
    font-weight: 300;
    border-radius: 5rem;
    font-size: 1.3rem;
    color: $color-green;
    background: lighten($light, 3%);

    &:hover,
    &:focus { background: $light; }
  }

  &--rounded {
    display: flex;
    width: 3rem;
    height: 3rem;
    background: $light;
    align-items: center;
    border-radius: 50%;
    justify-content: center;

    &:hover,
    &:focus {
      background: darken($light, 2.5%);
    }
  }

  &--slider {
    width: 4rem;
    height: 4rem;
    border-radius: .25rem;
    background: $light;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .3s ease;

    &:not(:last-of-type) { margin-right: 1rem; }

    &:not(.btn--slider-disabled):hover,
    &:not(.btn--slider-disabled):focus { background: darken($light, 5%); }
  }

  &--slider-disabled {
    opacity: .35;
    cursor: default !important;
  }

  &--wide { padding: 1.15rem 9rem; }

  &--pill {
    font-weight: 300;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: $pure-white;
    background: $color-green;
    padding: 1rem 3rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 .5rem 1rem rgba($pitch, .1);
    
    &:hover,
    &:focus {
      box-shadow: 0 1rem 2rem rgba($pitch, .1);
      background: darken($color-green, 5%);
    }
  }

  &--imgslider {
    position: absolute;
    top: 0;
    height: 100%;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: rgba($pitch, .5);

    &:disabled { display: none; }
  }

  &--prev { left: 0; }
  &--next { right: 0; }
}

.btn-float-right {
  position: fixed;
  bottom: 3rem;
  right: 10rem;
  z-index: 99;
}