@use '../index.scss' as *;

.dropdown {
    opacity: 0;
    visibility: hidden;
    border-radius: .75rem;
  
    &__head {
      padding: 1rem 2.85rem;
      background: lighten($light, 3%);
    }
    
    &__body {
      padding: 2rem 2.85rem;
      padding-bottom: 0;
      display: flex;
      flex-wrap: wrap;
    }
  
    &__item {
      font-size: 1.45rem;
      color: $black;
      margin-bottom: 2rem;
      width: 50%;
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  
      &:hover,
      &:focus { color: $color-green }
    }
  }