@use '../index' as *;

.pscroll {
  position: fixed;
  left: 0;
  bottom: 3rem;
  z-index: 100;
  width: 100%;
  
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: .4rem;
    background: $pure-white;
    animation: popFromTop .3s ease;
    border: 1px solid $color-yellow;

    &:hover,
    &:focus {
      background: lighten($light, 2.5%);
    }
  }
}