@use '../index.scss' as *;

.scroll {
  
  &__thumb {
    position: relative;
    z-index: 9998;
    width: .625rem;
    background: $color-yellow;
    border-radius: .25rem;
  }
}

::-webkit-scrollbar {
  height: .75rem;
  width: .75rem;
}
::-webkit-scrollbar-thumb {
  background: $color-yellow;
}