@use '../index.scss' as *;

.tooltip {
  position: relative;
  
  &__text {
    z-index: 9999;
    padding: 1.5rem 2rem;
    background: $tooltip;
    border-radius: 0.25rem;
    width: max-content;
    color: $pure-white;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;

    &::before {
      content: "";
      position: absolute;
      border-width: .75rem;
      border-style: solid;
    }
    
    &--top {
      bottom: calc(100% + 1rem);

      &::before {
        top: 100%;
        border-color: $tooltip transparent transparent transparent;
      }
    }

    &--center {
      left: 50%;
      transform: translateX(-50%);
      
      &::before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    
    &--bottom {
      top: calc(100% + 1rem);
      
      &::before {
        bottom: 100%;
        border-color: transparent transparent $tooltip transparent;
      }
    }
  }

  &:hover &__text {
    opacity: 1;
    visibility: visible;
  }
}
