@use '../../assets/sass' as *;

.post {

  &__error {
    color: $color-red;
    font-size: 2.25rem;
    padding: 1.25rem 0;
    font-weight: 300;
  }

  &__images {
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: .25rem;

    &__figure {
      background: $grey-light;
      border-radius: .25rem .25rem 0 0;
      height: 18.5rem;
      overflow: hidden;
      position: relative;
    }

    &__panel {
      background: darken($grey-light, 1.5%);
      border-radius: 0 0 .25rem .25rem;
      padding: 1rem 1.5rem;
      color: #fff;
    }

    &__btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background: #fff;
    }
  }
  
  &__btn-main {
    display: flex;
    align-items: center;
    background: $color-tertiary;
    padding: 1.25rem 2.5rem;
    font-size: 1.4rem;
    color: $pure-white;
    border-radius: .25rem;
  }
  
  &__body {
    width: 100%;
    background: $pure-white;
    padding-bottom: 3.5rem;
  }

  &__form {
    width: 100%;
    padding-top: 2.5rem;
  }

  &__title {
    font-size: 1.65rem;
    color: $black;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    font-weight: 400;

    &--lg {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__section {
    border-top: 1px solid rgba($pitch, .075);
    padding: 3.5rem 0;

    &__item {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: flex-end;

      &:not(:last-child) { margin-bottom: 3.5rem; }
    }
  }

  &__input {
    height: 4.25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 2.25rem;
    font-size: 1.4rem;
    border-color: rgba($pitch, .05);
    background: lighten($light, 4.25%);

    &__btn {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: 1px solid rgba($pitch, .125);
      opacity: 0;
      visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__btn-group { display: flex; }

    &:hover &__btn-group + span {
      display: none;
    }
      
    &:hover &__btn {
      opacity: 1;
      visibility: visible;
    }
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc((100% - 4rem) / 2);
    margin-bottom: 3rem;

    &:not(:nth-child(2n)) { margin-right: 4rem; }
  }

  &__input-group > * {
    width: 60%;
  }

  &__header {
    width: 100%;
    min-height: 23rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.85rem;
    color: $grey-dark;
    
    &--lg {
      color: $black;
      font-size: 2.25rem;
      min-height: 32.5rem;
      border-bottom: 1px solid rgba($pitch, .05);
    }

    &__icon {
      width: 7rem;
      height: 7rem;
      margin-bottom: 1.5rem;
    }
  }

  &__list {
    border: 1px solid rgba($pitch, .095);
    border-radius: .25rem;
    background: $pure-white;
    height: 30rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;

    &__empty {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 1.85rem;
    }
  
    &--pop {
      height: calc(100% - 5rem);
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: $pure-white;
      animation: slideFromRight .2s ease-in;
    }

    &--sm {
      height: 22.5rem;
      border-color: rgba($pitch, .075) transparent rgba($pitch, .075) transparent;
    }
  }

  &__list-wrapper {
    width: calc((100% - 4rem) / 2);

    &:not(:nth-child(2n)) { margin-right: 4rem; }
  }

  &__list &__input {
    border: none;
    background: $pure-white;
    font-size: 1.5rem;
    height: 5rem;

    &:hover { color: $color-green; }
  }

  &__input-icon {
    position: absolute;
    top: 50%;
    left: 2.25rem;
    transform: translateY(-50%);
    z-index: 1;
  }

  &__input-icon + &__input {
    padding-left: 6rem;
    border-bottom: 1px solid rgba($pitch, .095);
  }

  &__btn {
    position: absolute;
    bottom: 2rem;
    right: 2.25rem;
    border-radius: 50%;
    width: 4.25rem;
    height: 4.25rem;
    background: $color-yellow;
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background: darken($color-yellow, 3%);
    }

    &:disabled {
      opacity: .65;
    }
  }

  &__cta-area {
    position: fixed;
    background: #fff;
    bottom: 3rem;
    right: calc((100vw - 114rem) / 2 - .5rem);
    z-index: 10;
    border-radius: .5rem;
    min-width: 27.5vw;
    max-width: 30rem;
    box-shadow: .5rem .5rem 1rem rgba($pitch, .085);
    animation: fadeIn .45s ease;
    animation-fill-mode: backwards;
    border: 1px solid rgba($black, .15);
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__btn {
      display: flex;
      padding: .75rem 2.5rem;
      background: #fff;
      border: 2px solid $color-yellow;
      font-size: 1.4rem; 
      text-transform: uppercase;
      font-weight: 600;
      border-radius: .25rem;

      &,
      svg {
        transition: all .2s ease;
      }

      &:hover {
        background: $color-yellow;

        svg { fill: $black !important; }
      }
    }
  }

  &__success {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;

    &__icon {
      width: 8.5rem;
      height: 8.5rem;
      margin-bottom: 2rem;
    }

    &__heading {
      color: #000;
      text-align: center;
      margin-bottom: .5rem;
      font-weight: 300;
    }
  }
}