@use '../../assets/sass' as *;

.auth {
  background: $light;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &__modal {
    background: $pure-white;
    border-radius: .35rem;
    overflow: hidden;
    display: flex;
    box-shadow: 0 0 2rem rgba($pitch, .1);
    min-height: 58rem;
    margin: 4.5rem auto;
    width: max-content;

    &--signin { height: 62rem; }

    &--signup { height: 87rem; }
  }

  &__left {
    width: 22.5rem;
    background-size: cover;
    background-color: $light;
    padding: 2rem;
  }

  &__right {
    position: relative;
    padding: 5rem 12.5rem;
    padding-bottom: 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__head {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  &__body {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 35rem;

    & > * {
      flex-grow: 1;
      width: 100%;
    }
  }

  &__line {
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
    color: $grey-light;
    margin-bottom: 1.5rem;

    &::before,
    &::after {
      content: "";
      width: 16rem;
      margin: 0 1rem;
      height: 1px;
      background: rgba($pitch, .1);
    }
  }

  &__vendor-btn {
    box-shadow: 0 0 .5rem rgba($pitch, .07);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid rgba($pitch, .07);
    margin-left: 1rem;
  }

  &__input { 
    width: 35rem;

    &--sm {
      width: 16.75rem;
    }
  }

  &__footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $light;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    color: $grey-light;
    font-weight: 300;
  }

  &__tooltip { left: 0; }
}