@use './index.scss' as *;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  @media screen and (prefers-reduced-motion: reduce) {  
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  text-rendering: geometricPrecision;
  font-size: 1.3rem;
  color: $black;
}

button,
input,
textarea {
  background: transparent;
  border: none;
  font-family: inherit;

  &:focus { outline: none; }
}

button:hover { cursor: pointer; }

[tabIndex="0"] {
  &:focus { outline: none; }
  &:hover { cursor: pointer; }
}

ul { list-style: none; }

svg {
  display: flex;
  fill: $white;
  stroke: $white;
}

a,
button {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { -moz-appearance: textfield; }

