@use './index.scss' as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .25rem;

  &--outline {
    padding: 1.15rem 4.5rem;
    border: 1.5px solid rgba($color-tertiary, .7);
    font-size: 1.65rem;
    font-weight: 600;
    color: $pure-white;
  }
  
  &--b-white {
    border-color: rgba($pure-white, .9);
    
    &:hover,
    &:focus {
      background: $pure-white;
      color: $black;
      // border-color: $color-yellow;
    }
  }

  &--b-tertiary {
    border-color: $color-tertiary;
    color: $color-tertiary;
    font-weight: 500;
  }

  &--cta {
    background: $color-yellow;
    font-size: 1.525rem;
    color: $pitch;
    font-weight: 600;
    padding: 1.25rem 3rem;
  }

  &--arrow {
    min-width: 35rem;

    span {
      transition: all .3s ease;
    }

    svg {
      width: 0;
      transition: all .3s ease;
    }

    &:hover svg,
    &:focus svg {
      width: 3rem;
    }
  }

  // &--wide {
  //   padding: 1.15rem 7rem;
  // }

  &--search {
    background: $color-yellow;
    padding: 0 4.5rem;
    font-size: 1.5rem;
    color: $grey-dark;
    border-radius: 0 .25rem .25rem 0;
  }
}