@use './index.scss' as *;

.container {
  margin: 0 auto;
  max-width: 114rem;

  &--wide {
    max-width: 85%;
    margin: 0 auto;
  }
}

.price-tag {
  color: $black;
  font-weight: 300;
  font-size: 1.85rem;
}

.img {
  width: 100%;
  height: 100%;

  &--cover { object-fit: cover; }
  &--contain { object-fit: contain; }
}
