$light: #f0f0f0;
$grey-dark: #4b4b4b;
$grey-light: #acacac;

$black: #353535;
$pitch: #3d3d3d;

$color-tertiary: #38b2a6;
$color-yellow: #ffcc02;
$color-orange: #eb5f01;
$color-orange-light: #f9a600;

$white: #f1f1f1;
$pure-white: #fdfdfd;